// Specific CSS for your home-page
.banner {
  background-image:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    asset-url("banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4px;
  font-family: $header-font;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-family: $subheader-font;
  margin-bottom: 24px;
}

hr.banner-hr {
  border:solid 2px white;
  border-radius: 255px 15px 225px 15px;
  width: 800px;
  margin-top: 24px;
  margin-bottom: 32px;
}
