<!-- BANNER -->
  <div class="banner">
    <div class="container">
      <h1>RATE MY PLATE</h1>
      <hr class="banner-hr">
      <p>Keep track of all of your favorites dishes from <br> all of your favorite restaurants</p>
      <a class="btn btn-banner" href="#">Apply now</a>
    </div>
  </div>
