<!-- BANNER -->
  <div class="banner">
    <div class="container">
      <h1>RATE MY PLATE</h1>
      <hr class="banner-hr">
      <p>Keep track of all of your favorites dishes from <br> all of your favorite restaurants</p>
      <%= link_to "Rate Now", restaurants_path, class: 'btn btn-banner' %>
    </div>
  </div>

<!-- ICONS -->
<div class="icon">

</div>
