.btn-banner {
  align-self:center;
  background:transparent;
  padding:1rem 1rem;
  margin:0 1rem;
  transition:all .5s ease;
  color: white;
  font-size: 24px;
  font-family: $header-font;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px white;
}

.btn-banner:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  border: solid 2px #adb5bd;
  color: #adb5bd;
}
