.btn-banner {
  align-self:center;
  background:transparent;
  padding: 16px 32px;
  margin: 0 auto;
  width: 200px;
  display: block;
  transition:all .5s ease;
  color: white;
  font-size: 16px;
  font-family: $header-font;
  letter-spacing: 2px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px white;
}

.btn-banner:hover {
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.4);
  border: solid 3px #adb5bd;
  color: #adb5bd;
}

.btn-add {
  align-self:center;
  background:transparent;
  padding: 16px 32px;
  margin: 0 auto;
  width: 250px;
  display: block;
  transition:all .5s ease;
  color: black;
  font-size: 12px;
  font-family: $header-font;
  letter-spacing: 2px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px black;
  text-decoration: none;
}

.btn-add:hover {
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.4);
  border: solid 3px black;
  color: black;
}


.btn-add-restaurant {
  align-self:center;
  background:transparent;
  padding: 16px 32px;
  margin: 0 auto;
  width: 250px;
  display: block;
  transition:all .5s ease;
  color: black;
  font-size: 12px;
  font-family: $header-font;
  letter-spacing: 2px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px black;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-add-restaurant:hover {
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.4);
  border: solid 3px black;
  color: black;
}

.btn-upload-photo {
  text-align: center;
  padding: 8px;
  margin: 8px 0px;
  margin-bottom: 16px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px white;
  display: inline-block;
  clear: both;
  transition:all .5s ease;
}

.btn-upload-photo:hover {
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.4);
  border: solid 3px black;
  color: black;
}

