.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0,0,0,.2);
}

.nav-item {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home i {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link,{
  color: white;
}
